@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --primary-background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffffff;
    --primary-background-color: #000000;
  }
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}
